* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    margin: 0;
    background-color: #2575fc;
    z-index: 89;
}
:host {
  display: block;
  min-height: 100vh;
  background: linear-gradient(135deg, #6a11cb, #2575fc);
  font-family: 'Inter', sans-serif;
}
